html {
  font-size: 10px;
}

@media (min-width: 321px) {
  html {
    font-size: 11px;
  }
}

@media (min-width: 376px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 19px;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 22px;
  }
}

.map-container {
  height: 100vh;
}

#scroll-map {
  height: 50vh;
}

.card-img {
  width: 6rem;
  height: 7.5rem;
  object-fit: cover;
}

.card-body {
  padding-top: 0.5rem !important;
}

.card {
  max-width: 12rem;
  height: 16rem;
  margin: 1rem;
  border-radius: 2rem;
}

/* .card-img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
} */

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
  height: 2rem;
  border: 1px solid #dee2e6;
  line-height: 1.5rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

/* .map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
} */

.map-full-page {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.map-half-page {
  position: absolute;
  height: 89vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.map-scroll {
  height: 50vh;
  border-radius: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#no-margin-padding {
  padding: 0;
  margin: 0;
}

#no-padding {
  padding: 0;
}

@media (min-width: 768px) {
  .scroll-section {
    width: 25rem;
    height: 89vh;
    overflow-y: auto;
  }
}

/* Mapbox sidebar styling */
.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font: 15px/24px monospace;
  z-index: 1;
  position: absolute;
  top: 3.5rem;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

/* .react-time-picker__inputGroup,
.react-time-picker__inputGroup__input,
.react-time-picker__wrapper {
  width: 100%;
} */
