html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 321px) {
  html {
    font-size: 11px;
  }
}

@media (min-width: 376px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 19px;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 22px;
  }
}

.map-container {
  height: 100vh;
}

#scroll-map {
  height: 50vh;
}

.card-img {
  width: 6rem;
  height: 7.5rem;
  object-fit: cover;
}

.card-body {
  padding-top: 0.5rem !important;
}

.card {
  max-width: 13rem;
  height: 16rem;
  margin: 1rem;
  border-radius: 2rem;
  margin-right: 0 !important;
}

/* .card-img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
} */

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
  height: 2rem;
  border: 1px solid #dee2e6;
  line-height: 1.5rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

/* .map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
} */

.map-full-page {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.map-half-page {
  position: absolute;
  height: 89vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.map-scroll {
  height: 50vh;
  border-radius: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#no-margin-padding {
  padding: 0;
  margin: 0;
}

#no-padding {
  padding: 0;
}

@media (min-width: 768px) {
  .scroll-section {
    width: 25rem;
    height: 89vh;
    overflow-y: auto;
  }
}

/* Mapbox sidebar styling */
.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font: 15px/24px monospace;
  z-index: 1;
  position: absolute;
  top: 3.5rem;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.googleMapsButton {
  z-index: 1;
  position: absolute;
  margin: 0.5rem;
  border-radius: 4px;
}

/* .react-time-picker__inputGroup,
.react-time-picker__inputGroup__input,
.react-time-picker__wrapper {
  width: 100%;
} */
a {
  text-decoration: none !important;
}

.modal {
  padding: 0 !important;
}
.modal .modal-dialog {
  width: 100%;
  max-width: none;
  height: 100%;
  margin: 0;
}
.modal .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}
.modal .modal-body {
  overflow-y: auto;
}

.long-card {
  display: flex;
  align-items: center;
  min-width: 40rem;
  width: 100%;
  box-shadow: 0px 1px 3px #d8d6d6;
  height: 6rem;
  border-radius: 1rem;
}

.long-card img {
  height: 5rem;
  width: 8rem;
  border-radius: 1rem;
  margin: 0.5rem;
  object-fit: cover;
}

.long-card--text {
}

.long-card--text_title {
}

.long-card--buttons {
  display: flex;
  justify-content: flex-end;
  max-width: 55%;
}

.navbar-item {
  color: #112d4e;
}

/* * {
  outline: 1px solid red;
} */

.scroll-section {
  margin: 0;
  padding: 0;
}

.landingPage {
  height: 88vh;
}

.headingText {
  font-size: 5rem;
  line-height: 1.3;
}

.headingPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 80vh;
}

.form-container_inside {
  width: 80vw;
}

.form-container_buttonContainer {
  display: flex;
  flex-direction: column;
}

.form-container_buttonContainer--button {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .form-container_inside {
    min-width: 40rem;
    max-width: 50vw;
    border: 1px solid #f7f8f9;
    border-radius: 1rem;
    padding: 5rem;
    background-color: #f7f8f9;
  }

  .form-container_buttonContainer {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .form-container_buttonContainer--button {
    width: 45%;
  }
}
